body{
    font: 20px Arial; sans-serif;
}
.navbar {
    background-color: #E6E0F8;
}

.quem-somos{
    background: #a490e0;
    color: black;
}

.margin{
        padding-bottom: 50px;
        padding-top: 10px;
}
.parceiros{
    background-color: rgb(222, 209, 243);
}

.bg-footer{
    background-color: #a490e0;
}